html{
    width:100%;
    height: 100%;
}
body{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.trans{
    background-color: pink;
    width:500px;
    height:500px;
    transform:rotate(180deg); //transform est la propriété, rotate sa valeur
    transform-origin:center right; //propriété à utiliser avec transform sans quoi elle ne fonctionne pas -> modifie la position de l'élément transformé - par défaut = center
    margin: 0 auto;
}
.brit{
    width:200px;
    // object-fit: cover;
    object-fit: cover;
    height:200px;
    object-position: right;


}
